/* ====================Responsive======================= */
/* Tablet and desktop screen wider 786px*/
@media (min-width: 760px) {
    header {
        /* background-color: red; */
        margin: 0;
        padding: 0;
    }

    header button {
        display: none;
    }
}

/* Tablet in land scape */
@media (min-width: 600px) and (max-width: 767px) {
    header {
        /* background-color: brown; */
        margin: 0;
        padding: 0;
    }

    header {
        width: auto;
        padding: 0;
        margin: 0;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul>li {
        display: none;
    }

    section#hero {
        padding: 0 25px;
    }

    #hero .hero-body {
        gap: 20px;
    }

    #programs .program-container {
        gap: 20px;
    }

    #programs .program-card h3 {
        color: darkorange;
    }

    #programs .program-container a {
        width: 150px;
    }

    #programs .program-card #callToAction {
        text-decoration: underline;
        color: darkorange;
    }

    #programs .program-card .stream-container {
        margin-left: 30px;
    }

    #programs .program-card .stream-container .stream {
        margin: 20px 0;
    }

    #programs .program-card .stream-container li {
        color: #162238;
        list-style: disc;
        font-weight: 700;
        margin: 5px 0;
    }

    #programs .program-card {
        width: 580px;
    }

    section#info {
        padding: 20px 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        line-height: 30px;
        background-color: #06142e;
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        /* border-top: 1px solid #fff; */
    }

    .footer-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-bottom: 100px;
    }
}

/* Tablet and phone in poitrate */
@media (min-width: 480px) and (max-width: 599px) {
    header {
        /* background-color: yellow; */
        padding: 0;
        margin: 0;
    }

    header {
        width: auto;
        padding: 0;
        margin: 0;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul>li {
        display: none;
    }

    section#hero {
        padding: 0 25px;
    }

    #hero .hero-body {
        gap: 20px;
    }

    #programs .program-container {
        gap: 20px;
        width: 500px;

    }

    #programs .program-card h3 {
        color: darkorange;
    }

    #programs .program-container a {
        width: 150px;
    }

    #programs .program-card #callToAction {
        text-decoration: underline;
        color: darkorange;
    }

    #programs .program-card .stream-container {
        margin-left: 30px;
    }

    #programs .program-card .stream-container .stream {
        margin: 20px 0;
    }

    #programs .program-card .stream-container li {
        color: #162238;
        list-style: disc;
        font-weight: 700;
        margin: 5px 0;
    }

    #programs .program-card {
        width: 480px;
    }

    section#info {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        margin: 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #info h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    #info h2,
    #info p {
        margin-left: 19px;
    }

    .container .content-text {
        width: 500px;
    }

    footer {
        line-height: 30px;
        background-color: #06142e;
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 0px;
        /* border-top: 1px solid #fff; */
    }

    .footer-header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-bottom: 100px;
    }
}

/* responsive small screen */
@media(max-width: 576px) {
    header {
        /* background-color: turquoise; */
        padding: 0;
        margin: 0;
    }

    section#hero {
        padding: 0 25px;
    }

    #hero h3 {
        font-size: larger;
    }

    #hero .hero-body img {
        width: 50px;
    }

    #hero .hero-body {
        gap: 20px;
    }

    #hero .hero-body .content {
        height: 130px;
        gap: 10px;
        padding: 0px;
        margin: 0;
    }

    #programs .program-card h3 {
        color: darkorange;
    }

    #programs .program-container a {
        width: 50px;
    }

    #programs .program-card #callToAction {
        text-decoration: underline;
        color: darkorange;
    }

    #programs .program-card .stream-container {
        margin-left: 30px;
    }

    #programs .program-card .stream-container .stream {
        margin: 20px 0;
    }

    #programs .program-card .stream-container li {
        color: #162238;
        list-style: disc;
        font-weight: 700;
        margin: 5px 0;
    }

    #programs .program-card {
        width: 400px;
    }

    #programs .program-card .program-container {
        gap: 0px;
        width: 400px;
    }

    #programs .program-container {
        width: 370px;
    }

    section#info {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        margin: 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #info h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    #info p {
        font-size: large;
        margin-bottom: 20px;
    }

    #info h2,
    #info p {
        margin-left: 19px;
    }

    .container .content-text {
        width: 400px;
    }

    footer {
        line-height: 30px;
        background-color: #06142e;
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 0px;
        /* border-top: 1px solid #fff; */
    }

    .footer-body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-bottom: 100px;
    }
}